<h1>Guideline</h1>
<p>Este site é constituido por 4 rotas:</p>
<li>Página Principal;</li>
<li>Procura;</li>
<li>Estatisticas;</li>
<li>Sobre;</li>
<br>
<p><b>Página Principal: </b> Página inicial onde mostra os dados que estão a ser recolhidos neste momento. </p>
<p><b>Procura: </b> Aqui é possivel pesquisar dados de um evento através do seu nome e data de ocorrência.</p>
<p><b>Estatisticas: </b> São apresentadas algumas estatisticas de cada estação.</p>
<p><b>Sobre: </b> Informações adicionais sobre o projeto.</p>

<p>Valores medidos:</p>
<p><b>LAE:</b> Corresponde a uma medição do nível do som em decibéis, relativamente a um valor de referência.</p>
<p><b>Lmax:</b> Representa o valor máximo das amostras numa janela temporal, em decibéis.</p>
<p><b>Lmin:</b> Representa o valor mínimo das amostras numa janela temporal, em decibéis. </p>
<p><b>Lpeak:</b> Representa o ponto de pressão sonora mais elevado.</p>
<p><b>LAeq:</b> corresponde à energia sonora média recebida ao longo do tempo, ou seja, é uma mediação da acumulação em continuoa dos níveis sonoros ao longo do intervalo de medição total.</p>
