<h1>Procura por um evento numa data especifica</h1>
<form method="GET" action="/SearchEvent">
	<label for='eventName'>Nome do evento: </label>	<br>
	<input type='text' name='eventname'><br>
	<label for='Date'>Data: </label><br>
	<input type='date' name='date'><br><br>
	<input type='submit' value='search' >
</form>
